[submodule "3rdparties/ebib"]
	path = 3rdparties/ebib
	url = git://repo.or.cz/ebib.git
[submodule "3rdparties/auto-complete"]
	path = 3rdparties/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "3rdparties/bbdb-vcard"]
	path = 3rdparties/bbdb-vcard
	url = http://github.com/trebb/bbdb-vcard.git
[submodule "3rdparties/org2blog"]
	path = 3rdparties/org2blog
	url = git://github.com/MassimoLauria/org2blog.git
[submodule "3rdparties/pylookup"]
	path = 3rdparties/pylookup
	url = http://github.com/tsgates/pylookup.git
[submodule "3rdparties/cclookup"]
	path = 3rdparties/cclookup
	url = git://github.com/tsgates/cclookup.git
