# The main tangled file obtained from README.org should not be
# committed
README.el

# Ignore backup files and precompiled files.
*.pyc
*.elc

# EPDFinfo / SQLite  binaries
elpa-local/**/epdfinfo
elpa-local/**/sqlite/emacsql-sqlite

# Package archives are volatile
elpa-local/*/archives/
