# -*- mode: snippet -*-
# name: ECCC tech report
# key: <e
# --
@TechReport{,
  title           = {$0},
  author          = {},
  institution     = {Electronic Colloquium on Computational Complexity},
  year            = 20$1,
  number          = {TR$1-$2},
  url             = {https://eccc.weizmann.ac.il/report/20$1/$2}
}
