# -*- mode: snippet -*-
# name: * ECCC paper
# key: * nokey
# --
@TechReport{,
  author          = {},
  title           = {},
  pages           = {},
  institution     = {ECCC},
  year            = 20$1,
  number          = {TR$1-$2}
}
